@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

header {
  height: 90vh;
  max-height: fit-content;
  font-family: 'Press Start 2P', sans-serif;
}

/* --------------------------------------------------------- HEADER > LOGO */

.logo-container {
  height: fit-content;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
}

.logo {
  height: fit-content;
  line-height: 6rem;
  font-size: clamp(4.5rem, 10vw, 7rem);
  margin-top: 3rem;
  color: #fff;
}

.slogan-container {
  text-align: center;
}

.opaque-radial-overlay {
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
  linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

/* --------------------------------------------------------- HEADER > NAV */

#nav {
  position: relative;
  display: block;
  z-index: 1;
}

#nav li {
  list-style: none;
}

#nav ul {
  display: flex;
  flex-direction: column;
}

.nav-button {
  display: flex;
  background: #3b3b3b7a;
  border: 1px solid #000000;
  justify-content: center;
  margin-bottom: 1rem;

  -moz-box-shadow: inset 0.4rem 0.4rem 0.4rem rgba(255, 255, 255, .4), inset -0.4rem -0.4rem 0.4rem rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 0.4rem 0.4rem 0.4rem rgba(255, 255, 255, .4), inset -0.4rem -0.4rem 0.4rem rgba(0, 0, 0, .4);
  box-shadow: inset 0.4rem 0.4rem 0.4rem rgba(255, 255, 255, .4), inset -0.4rem -0.4rem 0.4rem rgba(0, 0, 0, .4);
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
  padding: 0.9rem 2rem 0.75rem;
  text-shadow: 0 0 0.2em rgb(0 0 0 / 40%), 0 0.2em 0.1em rgb(0 0 0 / 40%);
}

/* ------------------------------------------------------ FOOTER */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 20vh
}

/* ----------------------------------------------- MEDIA QUERIES */
@media (max-width: 400px) {
  .opaque-radial-overlay {
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
  }
}

@media (min-width: 768px) {
  .logo {
    margin-top: 10rem;
    line-height: 7rem;
  }
}