/* filter: blur() is currently creating some weirdness by applying the blur to the text */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --bg-clr-a: #222;
    --bg-clr-b: #2a1b44;
    --prm-clr: #9a6bff;
    --accnt-clr: #9dff00;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    color: white;
}

body {
    line-height: 1.5;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    background-color: var(--bg-clr-b);

    display: grid;
    grid-template-columns: 1fr;
}

.outer-container {
    overflow-x: hidden;
}

/* General Styles */

/* outer-container only creates a shadow at the top of the footer, eventually giving the illusion the footer slides out */
.outer-container {
    padding-bottom: 1rem;
    box-shadow:
        0 11px 1px rgb(0 0 0 / 10%),
        0 0 5px rgb(0 0 0 / 10%),
        0 6px 3px rgb(0 0 0 / 30%),
        0 8px 5px rgb(0 0 0 / 20%),
        0 10px 10px rgb(0 0 0 / 25%),
        0 15px 10px rgb(0 0 0 / 20%),
        0 25px 20px rgb(0 0 0 / 15%);
}

section {
    padding: 1rem;
}

h2 {
    font-size: 2rem;

    /* Spacing */
    margin-top: 2rem;

    /* Position w/in parent */
    /* grid-column: 1/13; */
    grid-row: 2;

    text-shadow:
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

h3 {
    font-size: 1.5rem;

    text-shadow:
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

td:first-child {
    font-weight: bold;
}

/* ----------------------------------------------------------------- Header & Navbar (carries over all pages EXCEPT main.html) */

header {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 10vh;
    min-width: 100%;

    display: inline-block;

    /* always on top  of screen */
    position: sticky;
    top: 0;
    z-index: 10;

    /* Position w/in parent */
    grid-row: 1;
    /* grid-column: 1/13; */
}

header * {
    z-index: 10;
}

.back-button {
    position: absolute;
    top: 21%;
    left: 5%;

    color: white;
    font-size: 2rem;
}

/* Hides .back-button text while in mobile */
header span {
    display: none;
}

.logo h1 {
    margin-top: 1rem;

    font-size: 3rem;
    line-height: 3.3rem;

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    animation: floating-text 1500ms alternate infinite;

    /* 3D text-shadow effect from MarkDotto.com */
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

/* Hamburger Menu */

.nav {
    /* styling */
    background: rgba(255, 255, 255, 0.612);
    backdrop-filter: blur(3px) contrast(50%);
    border-radius: 3rem 0 3rem 3rem;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);

    /* positionining */
    position: absolute;
    right: 0;
    top: 21%;
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
}

.nav--list {
    list-style: none;

    height: fit-content;
    margin: 0;
    padding: 3em 6em;

    display: flex;
    flex-direction: column;
}

.nav--item {
    margin-bottom: 3em;
}

.nav--link {
    text-decoration: none;
    color: black;
}

.nav--link:hover,
.nav--link:active {
    text-decoration: underline;
    color: var(--prm-clr);
}

.nav--toggle {
    background: none;
    color: rgb(255, 255, 255);

    position: absolute;
    transform: translate(-300%, -100%);
}

.nav--toggle i {
    font-size: 2rem;
}

.nav-open .nav {
    transform: translateX(0);
}

/* -------------------------------------------------------------------------------------- DRINKS-MENU */

#drinks-menu {
    /* Spacing */
    margin: 2rem 0.5rem;

    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-content: center;

    /* Position w/in parent */
    /* grid-column: 2/span 10; */
    grid-row: 3/7;
}

#drinks-menu td:first-child {
    width: 100%;
}

/* Assists with grouping drinks menu elements across different device sizes */
.sm-container {
    padding: 0.5rem;

    /* Container style */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow:
        0 6px 1px rgb(0 0 0 / 10%),
        0 0 5px rgb(0 0 0 / 10%),
        0 1px 3px rgb(0 0 0 / 30%),
        0 3px 5px rgb(0 0 0 / 20%),
        0 5px 10px rgb(0 0 0 / 25%),
        0 10px 10px rgb(0 0 0 / 20%),
        0 20px 20px rgb(0 0 0 / 15%);

    border: 1px solid rgba(255, 255, 255, 0.4);
}

.cold-drinks {
    order: 1;
}

.hot-drinks {
    order: 3;
}

.cocktail-drinks {
    margin-top: 2rem;
    order: 2;
    padding: 0;
}

.cocktail-drinks h3 {
    margin-bottom: 0.5rem;
}

.cocktail-drinks td:nth-child(1) {
    width: 15%;
}

.cocktail-drinks td:nth-child(2) {
    width: 70%;
}

/* --table shows up in landscape; --accordion in mobile */
.cocktail-drinks--table {
    display: none;
}

/*---------------------------------------------------- #drinks-menu > Cocktail Menu - Accordion */
/* --table shows up in landscape; --accordion in mobile */
.cocktail-drinks--accordion {
    overflow: hidden;
    background: var(--accnt-clr);
    border-radius: 16px;
    box-shadow:
        0 6px 1px rgb(0 0 0 / 10%),
        0 0 5px rgb(0 0 0 / 10%),
        0 1px 3px rgb(0 0 0 / 30%),
        0 3px 5px rgb(0 0 0 / 20%),
        0 5px 10px rgb(0 0 0 / 25%),
        0 10px 10px rgb(0 0 0 / 20%),
        0 20px 20px rgb(0 0 0 / 15%);
}

.cocktail-drinks--accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.cocktail-drinks--accordion .tab {
    width: 100%;
    color: white;
    overflow: hidden;
}

.cocktail-drinks--accordion .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--prm-clr);
    font-weight: bold;
    cursor: pointer;
}

.cocktail-drinks--accordion .tab-label:hover {
    background: darken(var(--prm-clr), 10%);
}

.cocktail-drinks--accordion .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.cocktail-drinks--accordion .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #000;
    background: white;
    transition: all .35s;
}

.cocktail-drinks--accordion .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--prm-clr);
    cursor: pointer;
}

.cocktail-drinks--accordion .tab-close:hover {
    background: darken(var(--prm-clr), 10%);
}

.cocktail-drinks--accordion input:checked+.tab-label {
    background: darken(var(--prm-clr), 10%);
}

.cocktail-drinks--accordion input:checked+.tab-label::after {
    transform: rotate(90deg);
}

.cocktail-drinks--accordion input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}

.cocktail-drinks--accordion input:checked~.tab-label {
    color: #000;
    text-shadow: none;
}

/* ---------------------------------------------------------------------------------------------------- #food-menu */
#food-menu {
    /* Spacing */
    margin: 2rem 1.5rem;
    padding: 0.5rem;

    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-content: center;

    /* Position w/in parent */
    /* grid-column: 3/11;
    grid-row: 8/10; */

    /* Container style */
    background: rgba(190, 190, 190, 0.6);
    border-radius: 16px;
    box-shadow:
        0 6px 1px rgb(0 0 0 / 10%),
        0 0 5px rgb(0 0 0 / 10%),
        0 1px 3px rgb(0 0 0 / 30%),
        0 3px 5px rgb(0 0 0 / 20%),
        0 5px 10px rgb(0 0 0 / 25%),
        0 10px 10px rgb(0 0 0 / 20%),
        0 20px 20px rgb(0 0 0 / 15%);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#food-menu p {
    margin: 1rem 0;

    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;

    text-shadow:
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

#food-menu td:first-child {
    width: 100%;
}



/* ---------------------------------------------------------------------------------------------------  FOOTER */
footer {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 12;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: center;
}

footer * {
    text-align: center;
}

footer>* {
    margin: 1.5rem 1rem;

    height: 80%;

    /* From https://css.glass */
    background: rgba(190, 190, 190, 0.6);
    border-radius: 16px;
    box-shadow:
        0 6px 1px rgba(100, 100, 100, .1),
        0 0 5px rgba(100, 100, 100, .1),
        0 1px 3px rgba(100, 100, 100, .3),
        0 3px 5px rgba(100, 100, 100, .2),
        0 5px 10px rgba(100, 100, 100, .25),
        0 10px 10px rgba(100, 100, 100, .2),
        0 20px 20px rgba(100, 100, 100, .15);
    ;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.4);

    justify-content: space-evenly;
}

footer>*>* {
    margin: 0.3rem 0;
}

footer h3 {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;

    text-shadow:
        0 1px 0 rgb(170, 170, 170),
        0 2px 0 rgb(190, 190, 190),
        0 3px 0 rgb(170, 170, 170),
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.footer__background {
    border: none;
    box-shadow: none;
    border-radius: 0;
    backdrop-filter: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;

    background-color: #fff;
    position: absolute;
    z-index: -1;

    /* BG image from https://pixel-gradient-maker.glitch.me/ */
    background-image: url(../images/pixel-gradient-footer.png);
    background-position: center;
    background-size: cover;
}

/* ------------------------------------------------------- FOOTER > JOIN US */

.join-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.join-us p {
    margin: 0.3rem 1rem;
    font-size: 1rem;
}

.join-us table {
    font-size: 1.1rem;
    margin: 0.5rem 1rem 1rem;
}

/* ------------------------------------------------------- FOOTER > CONTACT US */

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact-us ul {
    list-style: none;
}

.contact-us li {
    display: inline-block;
    font-size: 1.3rem;
}

.contact-us span {
    display: block;
    margin-bottom: 1rem;
}


/* a:visited first then a:active, otherwise the color gets set by active and then unset by visited */
.contact-us a:visited {
    color: unset;
}

.contact-us a:hover {
    color: var(--accnt-clr);
    text-shadow: 0 0 12px black;
}

.contact-us a:active {
    color: var(--prm-clr)
}

.contact-us i {
    font-size: 2.6rem;
    margin: 0 0.5rem;
}

/* ------------------------------------------------------- FOOTER > GOOGLE MAP */

.iframe__container {
    display: flex;
    padding: 0;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* ------------------------------------------------------ MEDIA QUERIES */


/* Landscape Orientation */
@media (orientation: landscape) {

    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
    }

    footer>* {
        margin: 2rem 2rem 1.5rem;
        padding: 1rem 0;
    }

    .footer__background {
        background-repeat: repeat-x;
        background-size: contain;
    }

    .join-us {
        grid-column: 1;
    }

    .iframe__container {
        grid-column: 2;
    }

    .contact-us {
        grid-column: 3;
    }

    .contact-us i {
        font-size: 2.6rem;
    }
}

@media (min-width: 390px) {}

@media (min-width: 768px) {}

@media (min-width: 900px) {

    .footer__background {
        background-size: cover;
    }
}

/* Shorter phones such as iPhone SE */
@media (max-height: 625px) {}

/* Specifically for Galaxy Fold */
@media (max-width: 350px) {
    .join-us h3 {
        font-size: 1.5rem;
    }

    .join-us table {
        font-size: 1rem;
    }
}

/* For tablets - organises footer in 2 rows and 2 columns */
@media (min-width: 768px) and (orientation: portrait) {
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    td {
        font-size: 1.3rem;
    }

    .sm-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        /* tiny margin to fix misalignment */
        padding-left: 0.8rem;
    }

    .hot-drinks {
        grid-column: 1;
        order: unset;
    }

    .cold-drinks {
        grid-column: 2;
    }

    .cold-drinks+.hot-drinks {
        width: 95%;
    }

    .cocktail-drinks--accordion {
        font-size: 1.2em;
    }

    /* improves readability on tablet devices */
    .cocktail-drinks--accordion .tab-label {
        text-shadow: 2px 2px #000;
    }

    .cocktail-drinks--accordion span {
        margin-left: 55%;
        font-size: 0.9em;
    }


    #food-menu {
        display: grid;
        grid-template-rows: 3fr 1fr 3fr;

        /* align 'OR' item on X */
        align-items: center;
    }

    #food-menu h3 {
        font-size: 1.8rem;
    }

    #food-menu p {
        grid-column: 1/3;
        font-size: 1.8rem;
    }

    .food-menu--hungry,
    .food-menu--peckish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .food-menu--hungry h3 {
        grid-column: 2;
        padding-left: 3rem;
    }

    .food-menu--hungry table {
        grid-column: 1;
        grid-row: 1;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .join-us {
        grid-column: 1;
    }

    .contact-us {
        grid-column: 2;
    }

    .iframe__container {
        grid-column: 1/span 2;
        grid-row: 2;
    }
}


/* Shorter landscape screens such as Nest Hub */
@media (min-width: 1024px) and (max-height: 600px) {}

/* ---------------------------------------------------------------------------------------------------  ANIMATIONS */

@keyframes floating-text {
    100% {
        transform: translateY(-.1em);
    }
}

/* Animation from https://getcssscan.com/css-buttons-examples "Button-85" */
@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Animation from https://css-tricks.com/making-css-animations-feel-natural/ customised to fit */
@keyframes bouncing-links {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-1.1rem);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-0.2rem);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bg-scrolling {
    0% {
        transform: translate3d(0, 0, 0)
    }

    50% {
        transform: translate3d(-66%, -66%, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}