@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Press Start 2P', sans-serif;
}

body {
  line-height: 1.5;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  background-color: rgba(34, 34, 34, 0.9);
}

/* ------------------------------------------------------------------------------------------------------  HEADER */

header {
  position: relative;
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
  overflow: hidden;

  display: grid;
  align-content: space-evenly;

  box-shadow:
    0 11px 1px rgb(0 0 0 / 10%),
    0 0 5px rgb(0 0 0 / 10%),
    0 6px 3px rgb(0 0 0 / 30%),
    0 8px 5px rgb(0 0 0 / 20%),
    0 10px 10px rgb(0 0 0 / 25%),
    0 15px 10px rgb(0 0 0 / 20%),
    0 25px 20px rgb(0 0 0 / 15%);
}

.header__background {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.header__background::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;

  background: url(../images/pattern-hexagrams.png) repeat;
  animation: bg-scrolling 240s alternate infinite;
}

.header__background::after {
  content: "";
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 110%;
  pointer-events: none;
  z-index: 1;
}

/* --------------------------------------------------------- HEADER > LOGO */

.logo {
  z-index: 1;
  margin-left: 0.5em;
}

.logo h1 {
  color: #fff;
  line-height: 5rem;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  animation: floating-text 1500ms alternate infinite;

  /* 3D text-shadow effect from MarkDotto.com */
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

/* --------------------------------------------------------- HEADER > SLOGAN */

.slogan {
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.slogan h2 {
  font-size: 1.4rem;
  text-shadow: 2px 2px #9a6bff,
    3px 3px #000000;
}

.slogan span {
  text-shadow: 2px 2px #9dff00,
    3px 3px #000000;
}

/* --------------------------------------------------------- HEADER > NAV */

#nav {
  position: relative;
  display: block;
  z-index: 1;

  /* Font space misalignment fix */
  margin-left: 0.2em;
}

#nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

#nav li {
  list-style: none;
  text-align: center;
}

#nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.75rem;

  text-shadow:
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

/* Button style from https://getcssscan.com/css-buttons-examples "Button-85", heavily customised */
.nav-button {
  position: relative;

  margin-bottom: 1em;
  padding: 0.6em 2em;

  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 2px 0 #fff, 0 3px 0 #101010, 0 4px 0 #080808;
}

/* Gradient generated via https://learnui.design/tools/gradient-generator.html */
.nav-button::before {
  content: "";
  background: linear-gradient(45deg,
      #9dff00,
      #35ffe1,
      #9a6bff,
      #9a6bff,
      #35ffe1,
      #9dff00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 40s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.nav-button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  box-shadow:
    inset 0 -1px 0 #181818,
    inset 0 -2px 0 #202020,
    inset 0 -3px 0 #282828;
}

.nav-button:hover .nav-button--anchor {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bouncing-links;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  transform-origin: bottom;
}

/* ---------------------------------------------------------------------------------------------------  FOOTER */
footer {
  position: relative;
  height: 100%;
  width: 100%;
  grid-row: 12;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

footer * {
  text-align: center;
}

footer>* {
  margin: 1.5rem 1rem;
  height: 80%;

  color: white;
  background-color: #222;
  border-radius: 16px;
  box-shadow:
      0 6px 1px rgb(0 0 0 / 10%),
      0 0 5px rgb(0 0 0 / 10%),
      0 1px 3px rgb(0 0 0 / 30%),
      0 3px 5px rgb(0 0 0 / 20%),
      0 5px 10px rgb(0 0 0 / 25%),
      0 10px 10px rgb(0 0 0 / 20%),
      0 20px 20px rgb(0 0 0 / 15%);

  justify-content: space-evenly;
}

footer>*>* {
  margin: 0.3rem 0;
}

footer h3 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;

  text-shadow:
      0 6px 1px rgba(0, 0, 0, .1),
      0 0 5px rgba(0, 0, 0, .1),
      0 1px 3px rgba(0, 0, 0, .3),
      0 3px 5px rgba(0, 0, 0, .2),
      0 5px 10px rgba(0, 0, 0, .25),
      0 10px 10px rgba(0, 0, 0, .2),
      0 20px 20px rgba(0, 0, 0, .15);
}

.footer__background {
  border: none;
  box-shadow: none;
  border-radius: 0;
  backdrop-filter: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  background-color: #fff;
  position: absolute;
  z-index: -1;

  /* BG image from https://pixel-gradient-maker.glitch.me/ */
  background-image: url(../images/pixel-gradient-footer.png);
  background-position: center;
  background-size: cover;
}

/* ------------------------------------------------------------------------------------------------- FOOTER > JOIN US */

.join-us {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.join-us h3 {
  margin-top: 1rem;
}

.join-us p {
  margin: 0.3rem 1rem;
  font-size: 1rem;
}

.join-us table {
  font-size: 1.1rem;
  margin: 0.5rem 1rem 1rem;
}

/* ------------------------------------------------------------------------------------------------ FOOTER > CONTACT US */

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-us ul {
  list-style: none;
}

.contact-us li {
  display: inline-block;
  font-size: 1.3rem;
}

.contact-us i {
  font-size: 2.6rem;
  margin: 0 0.5rem;
}

.contact-us span {
  display: block;
  margin-bottom: 1rem;
}

.contact-us a {
  color: white;
  text-decoration: none;
}

/* a:visited first then a:active, otherwise the color gets set by active and then unset by visited */
.contact-us a:visited {
  color: unset;
}

.contact-us a:hover {
  color: var(--accnt-clr);
  text-shadow: 0 0 12px black;
}

.contact-us a:active {
  color: var(--prm-clr)
}

/* --------------------------------------------------------------------------------------------------- FOOTER > GOOGLE MAP */

.iframe__container {
  display: flex;
  padding: 0;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* ---------------------------------------------------------------------------------------------------  ANIMATIONS */

@keyframes floating-text {
  100% {
    transform: translateY(-.1em);
  }
}

/* Animation from https://getcssscan.com/css-buttons-examples "Button-85" */
@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* Animation from https://css-tricks.com/making-css-animations-feel-natural/ customised to fit */
@keyframes bouncing-links {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-1.1rem);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.2rem);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bg-scrolling {
  0% {
    transform: translate3d(0, 0, 0)
  }

  50% {
    transform: translate3d(-66%, -66%, 0)
  }

  100% {
    transform: translate3d(0, 0, 0)
  }
}

/* ------------------------------------------------------ MEDIA QUERIES */


/* Landscape Orientation */
@media (orientation: landscape) {
  header {
    grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    align-items: center;
  }

  .logo {
    grid-column: 1/7;
    grid-row: 2;
  }

  .slogan {
    grid-column: 2/4;
    grid-row: 3;
    text-align: left;
  }

  #nav {
    grid-column: 4/7;
    grid-row: 3;
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }

  footer>* {
    margin: 2rem 2rem 1.5rem;
    padding: 1rem 0;
  }

  .footer__background {
    background-repeat: repeat-x;
    background-size: contain;
  }

  .join-us {
    grid-column: 1;
  }

  .iframe__container {
    grid-column: 2;
  }

  .contact-us {
    grid-column: 3;
  }

  .contact-us i {
    font-size: 2.6rem;
  }
}

/* Shorter phones such as iPhone SE */
@media (max-height: 625px) {
  .slogan h2 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  #nav a {
    font-size: 1.5rem;
  }
}

/* Specifically for Galaxy Fold */
@media (max-width: 350px) {
  .logo h1 {
    font-size: 3.2rem;
  }

  #nav a {
    font-size: 1.5rem;
  }

  .slogan h2 {
    font-size: 1.2rem;
  }

  .join-us h3 {
    font-size: 1.5rem;
  }

  .join-us table {
    font-size: 1rem;
  }
}

@media (min-width: 390px) {
  .logo h1 {
    font-size: 4.5rem;
  }

  .slogan h2 {
    font-size: 1.5rem;
  }

  #nav a {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .logo h1 {
    font-size: 7rem;
    line-height: 8rem;
  }

  .slogan h2 {
    font-size: 2rem;
  }

  #nav a {
    font-size: 2rem;
  }
}

/* For tablets - organises footer in 2 rows and 2 columns */
@media (min-width: 768px) and (orientation: portrait) {
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .join-us {
    grid-column: 1;
  }

  .contact-us {
    grid-column: 2;
  }

  .iframe__container {
    grid-column: 1/span 2;
    grid-row: 2;
  }
}

@media (min-width: 900px) {
  .logo h1 {
    font-size: 7rem;
    line-height: 8rem;
  }

  .footer__background {
    background-size: cover;
  }
}

@media (min-width: 1024px) and (max-height: 600px) {
  .logo h1 {
    font-size: 4rem;
  }
}