@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 1em;
  line-height: 1.5;
}

.body--background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.body--background::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;

  background: url(../images/1.png) repeat;
  animation: bg-scrolling 120s alternate infinite;
}

.body--background::after {
  content: "";
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 110%;
  pointer-events: none;
  z-index: 1;
}


/* --------------------------------------------------------- HEADER */

header {
  height: 100vh;
  font-family: 'Press Start 2P', sans-serif;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  align-content: space-evenly;
}

/* --------------------------------------------------------- HEADER > LOGO */

.logo {
  z-index: 1;
  margin-left: 0.5em;
}

.logo h1 {
  color: #fff;
  line-height: min(18vw, 6rem);
  font-size: min(18vw, 8rem);
  text-align: center;

  /* 3D text-shadow effect from MarkDotto.com */
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

/* --------------------------------------------------------- HEADER > SLOGAN */

.slogan {
  text-align: center;
  width: 100%;
}

.slogan h2 {
  font-size: min(6vw, 3rem);

  text-shadow: 0px 3px 0px #36256e,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

/* --------------------------------------------------------- HEADER > NAV */

#nav {
  position: relative;
  display: block;
  z-index: 1;
}

#nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

#nav li {
  list-style: none;
  text-align: center;
  padding: 0.8rem 1.5rem;
}

#nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: min(7vw, 3rem);

  text-shadow: 0px 3px 0px #858585,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
  ;
}

/* Button style from https://getcssscan.com/css-buttons-examples "Button-85" */
.nav-button {
  position: relative;

  margin-bottom: 1em;
  padding: 0.6em 2em;

  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
}

/* Gradient generated via https://learnui.design/tools/gradient-generator.html */
.nav-button::before {
  content: "";
  background: linear-gradient(45deg,
      #9dff00,
      #35ffe1,
      #9a6bff,
      #9a6bff,
      #35ffe1,
      #9dff00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 40s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.nav-button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.nav-button:hover .nav-button--anchor {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bouncing-links;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

  transform-origin: bottom;
}

/* ------------------------------------------------------ FOOTER */
footer {
  bottom: 0;
  height: 10%;
}

/* ------------------------------------------------------ ANIMATIONS */

/* Animation from https://getcssscan.com/css-buttons-examples "Button-85" */
@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


/* Animation from https://css-tricks.com/making-css-animations-feel-natural/ customised to fit */
@keyframes bouncing-links {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-1.1rem);
  }

  50% {
    transform: scale(1.05, .95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.2rem);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* ------------------------------------------------------ MEDIA QUERIES */

@media (max-width: 800px) {
  .flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
  }
}

@keyframes bg-scrolling {
  0% {transform: translate3d(0, 0, 0)}
  50% {transform: translate3d(-66%, -66%, 0)}
  100% {transform: translate3d(0, 0, 0)}
}