/* backdrop-filter: blur() is currently creating some weirdness by applying the blur to the text */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    /* Colors */
    --bg-clr: #222;
    --prm-clr: hsl(259, 100%, 61%);
    --accnt-clr: hsl(83, 100%, 50%);
    --cont-clr: #777;
    /* Shadows */
    --prm-shdw: 0 11px 1px rgb(0 0 0 / 10%),
        0 0 5px rgb(0 0 0 / 10%),
        0 6px 3px rgb(0 0 0 / 30%),
        0 8px 5px rgb(0 0 0 / 20%),
        0 10px 10px rgb(0 0 0 / 25%),
        0 15px 10px rgb(0 0 0 / 20%),
        0 25px 20px rgb(0 0 0 / 15%);
}

/* CSS reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* change default scrollbar appearance where possible (Firefox uses JS to change it) */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--prm-clr);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cont-clr);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* ----------------------------------------------------------------- General Styles */

h1,
h2,
h3,
.nav--link,
.back-button span {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    color: white;
}

body {
    background-color: #222;
    line-height: 1.5;
    font-family: 'Play', sans-serif;
    font-weight: 400;

    display: grid;
    grid-template-columns: 1fr;

    overflow-x: hidden;
}

.active,
a:hover,
a:focus,
a:active,
.back-button span:hover,
.back-button span:focus,
.back-button span:active {
    color: var(--accnt-clr);
    text-shadow: 0 0 20px #000;
}

h2 {
    font-size: 2rem;

    margin-left: 0.5rem;
    margin-bottom: 2rem;
    text-shadow: var(--prm-shdw);
}

h3 {
    font-size: 1.5rem;
    text-shadow: var(--prm-shdw);
    padding-bottom: .5rem;
    white-space: nowrap;
}

section {
    margin: 0 1rem;
}

/* Accessibility */
.visually-hidden {
    display: none !important;
}


/* ----------------------------------------------------------------- Header & Navbar (carries over all pages EXCEPT main.html) */

header {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    max-height: 20vh;
    min-width: 100%;

    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    /* on top of everything else */
    z-index: 10;
}

header * {
    z-index: 10;
}

header span {
    display: none;
}

.back-button {
    text-decoration: none;

    margin-top: 0.5rem;
    margin-left: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    color: white;
}

.logo {
    margin-left: 0.7rem;
}

.logo h1 {
    margin-top: 1rem;
    padding: 0 0.4rem;

    font-size: 2.5rem;
    line-height: 2.7rem;

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    animation: floating-text 1500ms alternate infinite;

    /* 3D text-shadow effect from MarkDotto.com */
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa, var(--prm-shdw);
}

/* Hamburger Menu */
.nav {
    /* styling */
    border-radius: 3rem 0 3rem 3rem;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);

    /* positionining */
    position: relative;
}

.nav--list {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* positionining */
    position: absolute;
    right: 3rem;

    /* sizing */
    max-height: 50vh;
    max-width: 73vw;
    padding: 2em 2em;

    /* scale(0) hides the nav list, transition animates the scale */
    transform: scale(0);
    transform-origin: top right;
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);

    /* styling */
    background: rgba(255, 255, 255, 0.612);
    border-radius: 3rem 0 3rem 3rem;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);

    /* Stop list items from breaking into multiple lines */
    white-space: nowrap;
    list-style: none;

    /* ensuring this is not interactable while closed */
    z-index: -10;
}

/* Gradient generated via https://learnui.design/tools/gradient-generator.html */
.nav--list::before {
    content: "";
    background: linear-gradient(45deg,
            #9dff00,
            #35ffe1,
            #9a6bff,
            #9a6bff,
            #35ffe1,
            #9dff00);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 40s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 3rem 0 3rem 3rem;
}

.nav--list::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 3rem 0 3rem 3rem;
    box-shadow:
        inset 0 -1px 0 #181818,
        inset 0 -2px 0 #202020,
        inset 0 -3px 0 #282828;
}

.nav--item {
    margin: 1rem 1rem;
}

.nav--link {
    text-decoration: none;
    font-size: 1.3rem;
}

.nav--toggle {
    border: 0;
    background: none;
    color: rgb(255, 255, 255);

    position: relative;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.nav--toggle,
.back-button {
    font-size: 2rem;
}

.nav-open .nav--list {
    transform: scale(1);
    z-index: unset;
}

.fa-xmark {
    /* positioning */
    position: absolute;
    left: 0.4rem;

    /* X button hidden when menu is closed */
    transform: scale(0);
    transition: transform 300ms linear;
}

.fa-burger {
    transition: transform 300ms linear;
}

.nav-open .fa-xmark {
    transform: scale(1);
}

.nav-open .fa-burger {
    transform: scale(0);
}

/* ---------------------------------------------------------------------------------------------- our-menu.html - DRINKS-MENU */

#drinks-menu {
    position: relative;

    /* Spacing */
    margin: 0 0.5rem 2rem;

    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-content: center;
}

#drinks-menu ul {
    list-style: none;
    font-weight: 700;

    display: flex;
    flex-direction: column;
}

#drinks-menu h5 {
    font-size: 1rem;
}

#drinks-menu ul span {
    float: right;
    font-weight: 400;
}

.cold-drinks {
    margin-bottom: 0.5rem;
}

/* Assists with grouping drinks menu elements across different device sizes */
.sm-container {
    padding: 1rem;
    margin: 0 1rem;

    /* Container style */
    background: var(--cont-clr);
    border-radius: 16px;
    box-shadow: var(--prm-shdw);

    border: 1px solid rgba(255, 255, 255, 0.4);
}

.cocktail-drinks {
    margin-top: 2rem;
    padding: 0;
}

.cocktail-drinks h3 {
    margin-bottom: 0.5rem;
}

/* --table shows up in landscape; --accordion in mobile */
.cocktail-drinks--table {
    display: none;
}

/*----------------------------------------------------------------- our-menu.htlm - #drinks-menu > Cocktail Menu - Accordion */
/* --table shows up in landscape; --accordion in mobile */
/* Accordion code from https://codepen.io/raubaca/pen/PZzpVe, modified & customized */
.cocktail-drinks--accordion {
    overflow: hidden;
    background: var(--accnt-clr);
    border-radius: 16px;
    box-shadow: var(--prm-shdw);
}

.cocktail-drinks--accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.cocktail-drinks--accordion .tab {
    width: 100%;
    color: white;
    overflow: hidden;

    position: relative;
}

.cocktail-drinks--accordion .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--prm-clr);
    font-weight: bold;
    cursor: pointer;

    /* improves readability on tablet devices */
    text-shadow: 3px 3px 3px var(--bg-clr-a);
}

.cocktail-drinks--accordion .tab-label:hover {
    filter: brightness(85%);
}

.cocktail-drinks--accordion .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.cocktail-drinks--accordion span {
    position: absolute;
    left: 50%;
}

.cocktail-drinks--accordion .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #000;
    background: white;
    transition: all .35s;
}

.cocktail-drinks--accordion .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: var(--prm-clr);
    cursor: pointer;
}

.cocktail-drinks--accordion .tab-close:hover {
    filter: brightness(85%);
}

.cocktail-drinks--accordion input:checked+.tab-label {
    background: none;
}

.cocktail-drinks--accordion input:checked+.tab-label::after {
    transform: rotate(90deg);
}

.cocktail-drinks--accordion input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}

.cocktail-drinks--accordion input:checked~.tab-label {
    color: #000;
    text-shadow: none;
}

/* ----------------------------------------------------------------------------------------------- our-menu.html - #food-menu */
#food-menu {
    /* Spacing */
    margin: 2rem 1.5rem;
    padding: 1rem 0.5rem;

    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-content: center;

    /* Container style */
    background: var(--cont-clr);
    border-radius: 16px;
    box-shadow: var(--prm-shdw);

    border: 1px solid rgba(255, 255, 255, 0.4);
}

#food-menu ul {
    list-style: none;
    font-weight: 700;

    display: flex;
    flex-direction: column;
}

#food-menu ul span {
    float: right;
    font-weight: 400;
}

.food-menu--or {
    margin: 1rem 0;

    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;

    text-shadow: var(--prm-shdw);
}

/* -------------------------------------------------------------------------------------------------------------- events.html */
.events h2 {
    margin-bottom: 0;
}

/* Carousel code from https://codepen.io/jwjertzoch/pen/JjyGeRy, customized */
.carousel {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 90%;
}

.slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: fit-content;
    justify-content: center;
    margin: auto 1rem;
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    overflow: hidden;
}

.slides-item img {
    height: 100%;
    width: 100%;
}

.carousel__nav {
    padding: 1.25rem .5rem;
}

.slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
    background-color: #000;
    color: #fff;
}

.carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: .8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

/* ------------------------------------------------------ Sign Up Form */
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.signup-form--toggle {
    background-color: var(--accnt-clr);

    padding: 1rem 2rem;
    margin-bottom: 1rem;

    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.1rem;

    border-radius: 10px;
    border: 0;

    box-shadow: var(--prm-shdw);

    transform: translate(0);
    transition: transform 300ms linear;

    z-index: 2;
}

.signup-form {
    width: 90vw;

    position: absolute;

    padding: 4rem 1rem 1rem;

    color: white;

    transform: scale(0);
    transform-origin: top center;
    transition: transform 300ms linear;
}

.signup-form::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -3px;

    width: calc(100% + 6px);
    height: calc(100% + 6px);

    background: linear-gradient(45deg,
            #9dff00,
            #35ffe1,
            #9a6bff,
            #9a6bff,
            #35ffe1,
            #9dff00);

    filter: blur(5px);
    -webkit-filter: blur(5px);

    animation: glowing-button 40s linear infinite;
    transition: all 300ms ease-in-out;
    border-radius: 1rem;

    z-index: -1;
}

.signup-form::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 1rem;
    box-shadow: var(--prm-shdw);
}

.signup-form input:hover,
.signup-form select:hover,
.signup-form--reset:hover {
    color: white;
    background-color: #111;
    border: none;
}

.signup-form * {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px var(--prm-clr)
}

.signup-form button {
    font-family: 'Play', sans-serif;

    padding: 0.5rem 1rem;

    margin: 1rem;
    border-radius: 7px;
    border: 0;

    font-weight: 600;
    font-size: 1.1rem;
}

.signup-form--submit {
    background-color: var(--accnt-clr);
    color: black;
}

.signup-form--submit:hover {
    background-color: var(--prm-clr);
    color: white;
}

.signup-form--reset {
    background-color: var(--bg-clr);
    color: white;
}

input[type="text"],
input[type="email"] {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

input[type="date"] {
    padding: 4px 10px;
    background-color: #333;
    color: white;
}

.signup-form select {
    width: 80%;
    padding: 5px 10px;

    font-family: 'Play', sans-serif;
    background-color: #333;
    color: white;
}

.form-open .signup-form {
    z-index: 2;
    transform: scale(1);
}

.form-open .signup-form--toggle {
    z-index: 3;
}

.form-open .signup-form--toggle::before {
    content: 'Close';

    position: absolute;
    top: -1px;
    left: -1px;

    /* below calc() ensures the pseudo-element covers the entire button */
    width: calc(100% + 2px);
    height: calc(100% + 2px);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;
    color: white;
    border-radius: 10px;
    border: 1px solid #222;
}



/* ---------------------------------------------------- Events List*/

.events-list--container {
    margin-bottom: 2rem;
}

.events-list {
    list-style: none;

    /* spacing */
    margin: 1.5rem 0;
    padding: 1rem;

    /* layout */
    display: flex;
    flex-direction: column;

    /* container styling */
    background-color: var(--cont-clr);
    border: 1px solid #555;
    border-radius: 16px;
    box-shadow: var(--prm-shdw);
}

.events-list h3 {
    margin-bottom: 0.5rem;
}

.events-list {
    color: white;
}

.events-list li {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;
    padding: 0.2rem .5rem;

    background-color: #222;
    border-radius: 1rem;
}

.events-list li:hover {
    text-shadow: 1px 1px 5px var(--accnt-clr);
}

/* ------------------------------------------------------------------------------------------------------------------  faq.html */
.faq h2 {
    margin-bottom: 1rem;
}

.faq>p {
    margin: 1rem;

    font-size: 1rem;
    text-align: center;
    color: white;
}

.faq section {
    position: relative;

    /* container styling */
    background-color: var(--cont-clr);
    border: 1px solid #555;
    border-radius: 16px;
    box-shadow: var(--prm-shdw);
}

/* how to win the specificity war for color (add .faq) */
.faq .faq-list {
    max-height: 60vh;

    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    background-color: #222;
}

.faq-entry--container {
    margin: 0.2rem;

    background-color: hsl(260, 62%, 31%);

    border-radius: 12px;
    border: inherit;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: .8rem;
    scroll-behavior: smooth;
}

.faq-list--searchbar {
    position: relative;
    margin: 3rem auto;
}

.faq-list input[type=search] {
    width: 80vw;
    height: 2.5rem;
    padding-left: 2.8rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 22px;
}

.search--submit {
    position: absolute;
    top: 4px;
    left: 4px;

    width: 2rem;
    height: 2rem;

    font-size: 1rem;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-clr);
    color: var(--accnt-clr);
}

.faq-entry {
    margin: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    scroll-snap-align: start;

    background-color: var(--cont-clr);
    border-radius: 10px;
    box-shadow: var(--prm-shdw);
}

.faq-entry h3 {
    font-size: 1.5rem;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.faq-entry p {
    padding: .9rem;
    line-height: 1.1;
    font-size: 1.1rem;
    background-color: #222;
    color: white;
    border-radius: .5rem;
    width: 100%;
}

.feedback-form {
    margin-bottom: 2rem;
    padding: 1rem;

    color: white;
    border: 1px inset var(--bg-clr);
}

.feedback-form * {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}

.feedback-form legend {
    text-align: center;
    font-size: 1.5rem;
}

.feedback-form button {
    font-family: 'Play', sans-serif;

    padding: 0.5rem 1rem;

    border-radius: 7px;
    border: 0;

    font-weight: 600;
    font-size: 1.1rem;
}

.feedback-form input:hover,
.feedback-form--reset:hover {
    color: white;
    background-color: #111;
    border: none;
}

.feedback-form .feedback-options {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
}

.feedback-form .faq-rd {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.feedback-form input[type=radio] {
    appearance: none;
    height: 1rem;
    width: 1rem;

    margin: 0;

    background-color: red;
    box-shadow: 0 0 30px red;
    border: 2px solid #222;
    border-radius: 50%;
    background-clip: content-box;
}

.feedback-form input[type=radio]:checked {
    background-color: var(--accnt-clr);
    padding: 0;
    box-shadow: 0 0 30px var(--accnt-clr);
}

.feedback-form textarea {
    padding: .2rem .5rem;
}

.feedback-form--submit {
    background-color: var(--accnt-clr);
    color: black;
}

.feedback-form--submit:hover {
    background-color: var(--prm-clr);
    color: white;
}

.feedback-form--reset {
    background-color: var(--bg-clr);
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------ ABOUT.HTML */

.about section {
    position: relative;
    padding: 1.5rem 1.2rem 1rem;
    margin: 1rem;

    /* container styling */
    background-color: var(--cont-clr);
    border: 1px solid #555;
    border-radius: 16px;
    box-shadow: var(--prm-shdw);
}

.what-we-do {
    padding: 0 !important;
    overflow: hidden;
}

.perk {
    height: 25%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;

    padding: 1rem;
}

.perk:nth-child(odd) {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px 0 0 15px;
    justify-items: end;
}

.perk:nth-child(even) {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0 15px 15px 0;
    justify-items: start;
}

/* writing-mode rotates the text 90 degrees */
.perk h3 {
    width: fit-content;

    /* text styles */
    text-transform: uppercase;
    writing-mode: vertical-rl;
    letter-spacing: 0.1rem;
}

.perk p {
    font-size: 1.2rem;
    color: white;
}

.perk i {
    display: none;
    font-size: 2rem;
}

.perk:nth-child(1) i,
.perk:nth-child(3) i {
    margin: 1rem;
    order: 2;
    grid-column: 2;
    grid-row: 1;
}

.perk:nth-child(1) h3,
.perk:nth-child(3) h3 {
    order: 3;
    grid-column: 4;
    margin-left: 1rem;

    text-shadow: 0 4px 5px black, 0 2px 30px var(--accnt-clr);
}

.perk:nth-child(2) h3,
.perk:nth-child(4) h3 {
    margin-right: 1rem;
    transform: rotate(180deg);
    text-shadow: 0 4px 5px black, 0 2px 30px var(--prm-clr);
}

.perk:nth-child(1) p,
.perk:nth-child(3) p {
    grid-column: 1/4;
}

.perk:nth-child(2) p,
.perk:nth-child(4) p {
    grid-column: 2/5;
    text-align: right;
}

.about .comment-board {
    margin: 1rem 1rem 2rem;
}

.comment-board h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0 1.5rem;
}

.customer-comment {
    margin: 1rem 0;
}

/* contains picture & comment */
.text-bubble {
    display: flex;
    align-items: center;
    min-height: 6rem;

    padding: 0 .5rem;

    background-color: #fff;
    border-radius: 50px 25px 25px 50px;
}

/* object-fit does for img what background-size does for background-image */
.comment-board img {
    object-fit: contain;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;

    z-index: 2;
}


.comment-board h4 {
    font-family: 'Play', sans-serif;
    color: #000;
    text-align: left;
}


.comment-board p {
    text-align: end;
}

/* ------------------------------------------------------------------------------------------------------------------  FOOTER */
footer {
    position: relative;
    height: 100%;
    width: 100%;
    grid-row: 12;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
}

footer * {
    text-align: center;
}

footer>* {
    margin: 1.5rem 1rem;
    height: 80%;

    color: white;
    background-color: #222;
    border-radius: 16px;
    box-shadow: var(--prm-shdw);

    justify-content: space-evenly;
}

footer>*>* {
    margin: 0.3rem 0;
}

footer h3 {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;

    text-shadow: var(--prm-shdw);
}

.footer__background {
    border: none;
    box-shadow: none;
    border-radius: 0;
    backdrop-filter: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    overflow: hidden;

    background-color: #fff;
    position: absolute;
    z-index: -1;

    /* BG image from https://pixel-gradient-maker.glitch.me/ */
    background-image: url(../images/pixel-gradient-footer.png);
    background-position: center;
    background-size: cover;
}

/* ------------------------------------------------------------------------------------------------- FOOTER > JOIN US */

.join-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.join-us h3 {
    margin-top: 1rem;
}

.join-us p {
    margin: 0.3rem 1rem;
    font-size: 1rem;
}

.join-us ul {
    font-size: 1.1rem;
    margin: 0.5rem 1rem 1rem;
}

.join-us li {
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------------------------------------------------------------------------------ FOOTER > CONTACT US */

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact-us ul {
    list-style: none;
}

.contact-us li {
    display: inline-block;
    font-size: 1.3rem;
}

.contact-us i {
    font-size: 2.6rem;
    margin: 0 0.5rem;
}

.contact-us span {
    display: block;
    margin-bottom: 1rem;
}

.contact-us a {
    color: white;
    text-decoration: none;
}

/* a:visited first then a:active, otherwise the color gets set by active and then unset by visited */
.contact-us a:visited {
    color: unset;
}

.contact-us a:hover {
    color: var(--accnt-clr);
    text-shadow: 0 0 12px black;
}

.contact-us a:active {
    color: var(--prm-clr)
}

/* --------------------------------------------------------------------------------------------------- FOOTER > GOOGLE MAP */

.iframe__container {
    display: flex;
    padding: 0;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* ------------------------------------------------------------------------------------------------------- MEDIA QUERIES */


@media (min-width: 390px) {
    .nav--link {
        font-size: 1.7rem;
    }
}

@media (min-width: 600px) {
    .sm-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;

        /* tiny padding to fix misalignment */
        padding-left: 0.8rem;
    }

    /* added padding as text was breaking weird between 614px and 666px; below forces the text to keep 2 lines until next media query */
    .sm-container h3 {
        padding: 0 2.5rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (orientation: portrait) {
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    header {
        padding-top: 1rem;
    }

    .sm-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;

        /* tiny margin to fix misalignment */
        padding-left: 0.8rem;
    }

    .nav--toggle,
    .back-button {
        font-size: 2.5rem;
    }

    .cocktail-drinks--accordion {
        font-size: 1.2em;
    }

    .cocktail-drinks--accordion span {
        margin-left: 55%;
        font-size: 0.9em;
    }


    #food-menu {
        display: grid;
        grid-template-rows: 2fr 1fr 2fr;

        /* align 'OR' item on X */
        align-items: center;
    }

    #food-menu h3 {
        font-size: 2rem;
    }

    #food-menu p {
        grid-column: 1/3;
        font-size: 1.8rem;
    }

    .food-menu--hungry,
    .food-menu--peckish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .food-menu--hungry h3 {
        grid-column: 2;
        order: 2;
        padding-left: 3rem;
    }

    .signup-form {
        font-size: 1.5rem;
    }

    /* padding on the button helps center the button text */
    .signup-form--toggle {
        padding-right: 1.5rem;
    }

    .signup button {
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type=date],
    select {
        font-size: 1.5rem;
    }

    .events-list--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .events-list {
        margin: 1.5rem 1rem;
        font-size: 1.2rem;

        justify-content: space-around;
    }

    .events-list span {
        white-space: nowrap;
    }

    .faq>p {
        font-size: 1.5rem;
    }

    .faq .faq-list {
        margin-top: 1rem;
    }

    .faq-list input[type=search] {
        padding-left: 3.8rem;
        height: 3.5rem;
        border-radius: 40px;
    }

    .faq-list--searchbar button {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .faq-entry {
        margin: 1.5rem 1rem;
    }

    .faq-entry h3 {
        font-size: 2rem;
        margin: auto;
    }

    .faq-entry p {
        font-size: 1.5rem;
    }

    .feedback-form form {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr 4fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .feedback-form legend {
        font-size: 2rem;
        grid-column: 1/4;
    }

    .feedback-form .feedback-personal {
        grid-column: 1;
        grid-row: 2;
    }

    .feedback-form .feedback-options {
        grid-column: 2;
        grid-row: 2;

        flex-direction: column;

        margin: 0 1rem;
    }

    .feedback-form textarea {
        grid-column: 3;
        grid-row: 2;
    }

    .feedback-form button {
        font-size: 1.6rem;
    }

    .feedback-form--submit {
        grid-column: 1;
        grid-row: 3;

        margin: .5rem;
    }

    .feedback-form--reset {
        grid-column: 3;
        grid-row: 3;

        margin: .5rem;
    }

    .feedback-form label {
        font-size: 1.5rem;
    }

    .perk {
        justify-items: center !important;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
    }

    .perk * {
        margin: 1rem 0.5rem !important;
    }

    .perk i {
        display: block;
        grid-row: 1;

        color: white;
        font-size: 3rem;
    }

    .perk:nth-child(1) i,
    .perk:nth-child(3) i {
        grid-column: 4;
        text-shadow: 0 4px 5px black, 0 2px 30px var(--accnt-clr);
    }

    .perk:nth-child(2) i,
    .perk:nth-child(4) i {
        grid-column: 1;
        text-shadow: 0 4px 5px black, 0 2px 30px var(--prm-clr);
    }

    .perk h3 {
        writing-mode: unset;
        transform: unset !important;

        grid-row: 2;
        white-space: unset;
        font-size: 2rem;
    }

    .perk:nth-child(1) h3,
    .perk:nth-child(3) h3 {
        grid-column: 4;
    }

    .perk:nth-child(2) h3,
    .perk:nth-child(4) h3 {
        grid-column: 1;
    }

    .perk p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.09rem;
    }

    .perk:nth-child(1) p,
    .perk:nth-child(3) p {
        grid-column: 1/span 3;
        grid-row: 1/span 2;
    }

    .perk:nth-child(2) p,
    .perk:nth-child(4) p {
        grid-column: 2/span 3;
        grid-row: 1/span 2;
    }

    .text-bubble {
        min-height: 9rem;
        border-radius: 70px 25px 25px 70px;
    }

    .comment-board h3 {
        font-size: 2.3rem;
    }

    .comment-board img {
        width: 8rem;
        height: 8rem;
    }

    .comment-board h4 {
        font-size: 1.5rem;
    }

    .customer-comment p {
        font-size: 1.5rem;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .join-us {
        grid-column: 1;
    }

    .contact-us {
        grid-column: 2;
    }

    .iframe__container {
        grid-column: 1/span 2;
        grid-row: 2;
    }
}

@media (min-width: 900px) {
    .logo h1 {
        font-size: 3rem;
    }
}

/* Specifically for Galaxy Fold */
@media (max-width: 350px) {
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }
    
    .our-menu h2 {
        font-size: 2rem;
    }

    .sm-container {
        padding: 1rem 0.5rem;
    }

    .cold-drinks {
        margin-bottom: 1rem;
    }

    .cocktail-drinks--accordion span {
        left: 65%;
    }

    .events-list span {
        white-space: nowrap;
    }

    .faq-list input[type=search] {
        font-size: 1rem;
    }

    .faq .faq-list {
        max-height: 80vh;
    }

    .faq-rd {
        font-size: 1rem;
    }

    .perk h3 {
        font-size: 2rem;
    }

    .customer-comment h4 {
        margin: 0.5rem 0;
    }

    .join-us h3 {
        font-size: 1.5rem;
    }

    .join-us ul {
        font-size: 1rem;
    }
}

/* Desktop Screens */

/* Landscape Orientation */
@media screen and (orientation: landscape) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .logo {
        grid-column: 1/3;
        grid-row: 1;
    }

    .back-button {
        grid-row: 2;
        white-space: nowrap;
        font-size: 1.4rem;
        margin-top: 0;
    }

    .back-button span {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1rem;
        height: 100%;
    }

    .nav {
        box-shadow: none;
        grid-row: 2;
    }

    .nav--toggle {
        display: none;
    }

    .nav--list {
        position: relative;
        transform: unset;
        flex-direction: row;
        justify-content: flex-end;

        background: none;
        box-shadow: none;
        padding: 0;
        right: 0;
    }

    .nav--list::before {
        content: none;
    }

    .nav--list::after {
        content: none;
    }

    .nav--link {
        font-size: 1rem;
    }

    .nav--item {
        margin: 0.3rem 1rem 0;
    }

    #food-menu {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;

        /* align 'OR' item on X */
        align-items: center;
    }

    .food-menu--peckish h3 {
        text-align: start;
    }

    .food-menu--hungry h3 {
        text-align: end;
    }

    .signup-form {
        font-size: 1.5rem;
    }

    /* padding on the button helps center the button text */
    .signup-form--toggle {
        padding-right: 1.5rem;
    }

    .signup button {
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type=date],
    select {
        font-size: 1.5rem;
    }

    .events-list--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .events-list {
        margin: 1.5rem 1rem;
        font-size: 1.2rem;

        justify-content: space-around;
    }

    .events-list span {
        white-space: nowrap;
    }

    .faq-list input[type=search] {
        width: 60vw;
    }

    .feedback-form form {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .feedback-form legend {
        font-size: 2rem;
        grid-column: 1/4;
    }

    .feedback-form .feedback-personal {
        width: 80%;
        grid-column: 1;
        grid-row: 2;
    }

    .feedback-form .feedback-options {
        width: 80%;
        grid-column: 1;
        grid-row: 3;

        flex-direction: row;

        margin: 0 1rem;
    }

    .feedback-form textarea {
        width: 80%;
        height: 80%;
        grid-column: 2;
        grid-row: 2/span 2;
    }

    .feedback-form button {
        width: auto;
        font-size: 1.6rem;
    }

    .feedback-form--submit {
        grid-column: 1;
        grid-row: 4;

        margin: 1rem;
    }

    .feedback-form--reset {
        grid-column: 2;
        grid-row: 4;

        margin: 1rem;
    }

    .feedback-form label {
        font-size: 1.5rem;
    }

    .perk {
        justify-items: center !important;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
    }

    .perk * {
        margin: 1rem 0.5rem !important;
    }

    .perk i {
        display: block;
        grid-row: 1;

        color: white;
        font-size: 3rem;
    }

    .perk:nth-child(1) i,
    .perk:nth-child(3) i {
        grid-column: 4;
        text-shadow: 0 4px 5px black, 0 2px 30px var(--accnt-clr);
    }

    .perk:nth-child(2) i,
    .perk:nth-child(4) i {
        grid-column: 1;
        text-shadow: 0 4px 5px black, 0 2px 30px var(--prm-clr);
    }

    .perk h3 {
        writing-mode: unset;
        transform: unset !important;

        grid-row: 2;
        white-space: unset;
        font-size: 2rem;
    }

    .perk:nth-child(1) h3,
    .perk:nth-child(3) h3 {
        grid-column: 4;
    }

    .perk:nth-child(2) h3,
    .perk:nth-child(4) h3 {
        grid-column: 1;
    }

    .perk p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.09rem;
    }

    .perk:nth-child(1) p,
    .perk:nth-child(3) p {
        grid-column: 1/span 3;
        grid-row: 1/span 2;
    }

    .perk:nth-child(2) p,
    .perk:nth-child(4) p {
        grid-column: 2/span 3;
        grid-row: 1/span 2;
    }

    .text-bubble {
        min-height: 9rem;
        border-radius: 70px 25px 25px 70px;
    }

    .comment-board h3 {
        font-size: 2.3rem;
    }

    .comment-board img {
        width: 8rem;
        height: 8rem;
    }

    .comment-board h4 {
        font-size: 1.5rem;
    }

    .customer-comment p {
        font-size: 1.5rem;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
    }

    footer>* {
        margin: 2rem 2rem 1.5rem;
        padding: 1rem 0;
    }

    .footer__background {
        background-repeat: repeat-x;
    }

    .join-us {
        grid-column: 1;
    }

    .iframe__container {
        grid-column: 2;
    }

    .contact-us {
        grid-column: 3;
    }

    .contact-us i {
        font-size: 2.6rem;
    }
}

@media (min-width: 1100px) {
    .logo h1 {
        font-size: 4rem;
        margin-top: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        white-space: nowrap;
    }

    .back-button {
        font-size: 1.9rem;
    }

    .back-button span {
        font-size: 1.5rem;
    }

    .nav--link {
        font-size: 1.5rem;
    }

    #drinks-menu {
        padding: 1.5rem 0.5rem;
        background: var(--cont-clr);
        border-radius: 16px;
        box-shadow: var(--prm-shdw);
        border: 1px solid rgba(255, 255, 255, 0.4);

        grid-template-columns: 2fr 4fr 2fr;
        align-items: center;
    }

    /* move styling from .sm-container to #drinks-menu so it wraps around --table*/
    .sm-container {
        all: unset;
    }

    /* .sm-container is within #drink-menu so .hot-drinks and .cold-drinks can't be moved on the #drinks-menu grid; this fixes that */
    .sm-container {
        position: absolute;
        width: 100%;

        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
    }

    .sm-container h3 {
        padding: unset;
    }

    .cold-drinks {
        margin: 0 1rem;
    }

    .hot-drinks {
        margin: 0 1rem;
        grid-column: 3;
    }

    .cocktail-drinks {
        grid-column: 2;
        margin: 0;

        margin: 0 1rem;
    }

    /* disable accordion, enable table & center within grid parent*/
    .cocktail-drinks--accordion {
        display: none;
    }

    .cocktail-drinks--table {
        display: flex;
        flex-direction: column;
    }

    .cocktail-drinks--table li {
        position: relative;
    }

    .cocktail-drinks--table span:nth-of-type(1) {
        float: unset !important;
        display: block;
    }

    .cocktail-drinks--table span:nth-of-type(2) {
        float: unset !important;
        position: absolute;
        top: 0;
        right: 0;
    }

    #food-menu {
        margin: 0 6.5rem 2rem;
    }

    .carousel {
        width: 100%;
    }

    .slides-item {
        flex-shrink: 1;
    }

    .signup-form {
        bottom: -10px;

        width: 50vw;
        font-size: 1.2rem;
        padding-top: 1rem;

        /* bottom right, but the (90%) is more precise than just bottom */
        transform-origin: 50% 90%;
    }

    .faq section {
        margin: 0 12rem 2rem;
    }

    .what-we-do {
        display: flex;
    }

    .perk {
        display: flex;
        flex-direction: column;

        background: linear-gradient(0deg, var(--bg-clr) 0%, rgba(255, 255, 255, 0)100%) !important;
        border-radius: 0 !important;
        padding: 1rem;
        height: 100%;
        max-width: 25%;
    }

    .perk * {
        order: initial !important;
        margin: 0 !important;
        padding: 1rem .5rem;
        text-align: center !important;
    }

    .perk i {
        font-size: 4.5rem;
    }

    .perk p {
        line-height: 2rem !important;
    }

    .comment-board {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 40% 40%;
    }

    .comment-board h3 {
        grid-column: 1/3;
    }

    .customer-comment {
        margin: 1rem;
    }

    .customer-comment p {
        color: white;
    }

    .comment-1 {
        grid-column: 1;
        grid-row: 2;
    }

    .comment-2 {
        grid-column: 2;
        grid-row: 2;
    }

    .comment-3 {
        grid-column: 1/3;
        grid-row: 3;
        width: 50%;
        margin: 1rem auto;
    }
}


/* Shorter landscape screens such as Nest Hub */
@media (min-width: 1024px) and (max-height: 600px) {
    .nav--list {
        max-height: 60vh;
    }

    .feedback-form form {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: 1fr 4fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .feedback-form legend {
        font-size: 1.5rem;
        grid-column: 1/4;
    }

    .feedback-form .feedback-personal {
        grid-column: 1;
        grid-row: 2;
    }

    .feedback-form .feedback-options {
        grid-column: 2;
        grid-row: 2;

        flex-direction: column;

        margin: 0 1rem;
    }

    .feedback-form textarea {
        grid-column: 3;
        grid-row: 2;
    }

    .feedback-form button {
        font-size: 1.1rem;
    }

    .feedback-form--submit {
        grid-column: 1;
        grid-row: 3;

        margin: .5rem;
    }

    .feedback-form--reset {
        grid-column: 3;
        grid-row: 3;

        margin: .5rem;
    }

    .feedback-form label {
        font-size: 1rem;
    }
}

@media (min-width: 2000px) {
    .logo h1 {
        font-size: 5rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.75rem !important;
    }

    ul {
        font-size: 1.75rem;
    }

    .back-button i {
        font-size: 3rem;
    }

    .back-button span {
        font-size: 2rem;
    }

    .nav--link {
        font-size: 2rem;
    }

    .faq>p {
        font-size: 1.75rem;
    }

    .faq-entry h3 {
        font-size: 2rem;
    }

    .faq-entry p {
        font-size: 1.5rem;
    }

    .feedback-form {
        margin: 0 20rem 2rem !important;
    }

    .feedback-form legend {
        font-size: 2.5rem;
    }

    .feedback-form label,
    .feedback-form input[type=text],
    .feedback-form input[type=email],
    .feedback-form button,
    .feedback-form textarea {
        font-size: 2rem;
    }
}

/* -------------------------------------------------------------------------------------------------------------  ANIMATIONS */

@keyframes floating-text {
    100% {
        transform: translateY(-.1em);
    }
}

/* Animation from https://getcssscan.com/css-buttons-examples "Button-85" */
@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Animation from https://css-tricks.com/making-css-animations-feel-natural/ customised to fit */
@keyframes bouncing-links {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-1.1rem);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-0.2rem);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bg-scrolling {
    0% {
        transform: translate3d(0, 0, 0)
    }

    50% {
        transform: translate3d(-66%, -66%, 0)
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}